<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Jogo da velha</h2>
      </div>
    </div>
  </div>

  <!--  tela inicial-->
  <div class="container" *ngIf="showInicio">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-md-right text-center mt-1 mt-md-0">
        <a href="#" class="botao btn"
           (click)="setModePlayer(ModoJogoEnum.SINGLE_PLAYER, $event)"
           [class.modoJogoSelecionado]="getModePlayer()==ModoJogoEnum.SINGLE_PLAYER">
          Single-Player
        </a>
      </div>
      <div class="col-md-6 col-sm-12 text-md-left text-center mt-1 mt-md-0">
        <a href="#" class="botao btn"
           (click)="setModePlayer(ModoJogoEnum.MULTI_PLAYER, $event)"
           [class.modoJogoSelecionado]="getModePlayer()==ModoJogoEnum.MULTI_PLAYER">
          Multi-Player
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#" class="botao btn" (click)="iniciarJogo($event)">
          Iniciar
        </a>
      </div>
    </div>
  </div>
  <!--  fim tela inicial-->

  <!--  tabuleiro-->
  <div class="container" *ngIf="showTabuleiro">
    <div class="row">
      <div class="col-md-4 col-sm"></div>
      <div class="col-md-4 col-sm-12">
        <div class="boxLimitado">
          <ul>
            <li class="kz-border-bottom kz-border-right"
                [class.kz-img-x]="exibirX(0,0)"
                [class.kz-img-o]="exibirO(0,0)"
                [class.kz-cor-vitoria]="exibirVitoria(0,0)"
                (click)="jogar(0,0)"></li>
            <li class="kz-border-bottom kz-border-right"
                [class.kz-img-x]="exibirX(0,1)"
                [class.kz-img-o]="exibirO(0,1)"
                [class.kz-cor-vitoria]="exibirVitoria(0,1)"
                (click)="jogar(0,1)">
            </li>
            <li class="kz-border-bottom"
                [class.kz-img-x]="exibirX(0,2)"
                [class.kz-img-o]="exibirO(0,2)"
                [class.kz-cor-vitoria]="exibirVitoria(0,2)"
                (click)="jogar(0,2)">
            </li>
            <li class="kz-border-bottom kz-border-right"
                [class.kz-img-x]="exibirX(1,0)"
                [class.kz-img-o]="exibirO(1,0)"
                [class.kz-cor-vitoria]="exibirVitoria(1,0)"
                (click)="jogar(1,0)"></li>
            <li class="kz-border-bottom kz-border-right"
                [class.kz-img-x]="exibirX(1,1)"
                [class.kz-img-o]="exibirO(1,1)"
                [class.kz-cor-vitoria]="exibirVitoria(1,1)"
                (click)="jogar(1,1)">
            </li>
            <li class="kz-border-bottom"
                [class.kz-img-x]="exibirX(1,2)"
                [class.kz-img-o]="exibirO(1,2)"
                [class.kz-cor-vitoria]="exibirVitoria(1,2)"
                (click)="jogar(1,2)">
            </li>
            <li class="kz-border-right"
                [class.kz-img-x]="exibirX(2,0)"
                [class.kz-img-o]="exibirO(2,0)"
                [class.kz-cor-vitoria]="exibirVitoria(2,0)"
                (click)="jogar(2,0)">
            </li>
            <li class="kz-border-right"
                [class.kz-img-x]="exibirX(2,1)"
                [class.kz-img-o]="exibirO(2,1)"
                [class.kz-cor-vitoria]="exibirVitoria(2,1)"
                (click)="jogar(2,1)">
            </li>
            <li
              [class.kz-img-x]="exibirX(2,2)"
              [class.kz-img-o]="exibirO(2,2)"
              [class.kz-cor-vitoria]="exibirVitoria(2,2)"
              (click)="jogar(2,2)">
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm"></div>
    </div>
  </div>
  <!--  fim tabuleiro-->

  <!--  tela final-->
  <div class="container" *ngIf="showFinal">
    <div class="row">
      <div class="col-md-12 text-center">
        <span>
      <p *ngIf="jogador==2">O jogador X ganhou!!!</p>
      <p *ngIf="jogador==1">O jogador O ganhou!!!</p>
      <p *ngIf="jogador==0">O jogo terminou empatado...</p>
      <br/>
      <a href="#" class="botao btn" (click)="novoJogo($event)">
        Jogar novamente
      </a>
    </span>
      </div>
    </div>
  </div>
  <!--  fim tela final-->
</div>
